<div class="min-h-screen bg-gray-100 flex flex-col pt-16" [dir]="dir">
  <app-header (toggleMenu)="isSidebarOpen = !isSidebarOpen"></app-header>

  <div class="flex flex-1 relative">
    <!-- خلفية شفافة لإغلاق القائمة على الشاشات الصغيرة -->
    <div
      *ngIf="isSidebarOpen"
      class="fixed inset-x-0 top-16 bottom-0 bg-black/30 z-20 md:hidden"
      (click)="isSidebarOpen = false"
    ></div>

    <!-- main menu: كـ drawer على الموبايل، ثابتة على الشاشات الأكبر -->
    <app-sidebar *ngIf="isSidebarOpen"></app-sidebar>

    <main class="flex-1 overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

