<div class="min-h-screen" [dir]="dir" [ngClass]="showLayout ? 'bg-gray-100 dark:bg-gray-900 flex flex-col pt-16' : 'bg-white dark:bg-gray-900'">
  <app-header *ngIf="showLayout" (toggleMenu)="isSidebarOpen = !isSidebarOpen"></app-header>

  <div *ngIf="showLayout" class="flex flex-1 relative">
    <!-- خلفية شفافة لإغلاق القائمة على الشاشات الصغيرة -->
    <div
      *ngIf="isSidebarOpen"
      class="fixed inset-x-0 top-16 bottom-0 bg-black/30 dark:bg-black/50 z-20 md:hidden"
      (click)="isSidebarOpen = false"
    ></div>

    <!-- main menu: كـ drawer على الموبايل، ثابتة على الشاشات الأكبر -->
    <app-sidebar *ngIf="isSidebarOpen"></app-sidebar>

    <main class="flex-1 overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </div>

  <div *ngIf="!showLayout">
    <router-outlet></router-outlet>
  </div>
</div>

